@model IndexViewModel
@{
ViewData["Title"] = "Home Page";
}

<head>
    <title>Ana Sayfa | Oylama</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    @*
    <link rel="stylesheet" href="/Shared/bootstrap.min.css">*@
    <link rel="icon" href="~/logo.png">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .voteName {
            margin-top: 50px;
        }

        #mainForm {
            width: 85%;
        }
    </style>
    <script>
        $(document).ready(() => {
            console.log("creator's github: https://github.com/xa-m");
        });
    </script>
</head>

<div class="d-flex justify-content-center">
    <form method="post" asp-controller="Home" asp-action="StartVote" id="mainForm">
        <div class="d-flex justify-content-center voteName">
            <input type="text" placeholder="Vote Name" name="VoteName" class="form-control-range form-control" required>
        </div>
        <br><br>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Vote Selectable 1" name="VoteSelect1" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Vote Selectable 2" name="VoteSelect2" required>
            </div>
            <div class="col">
                <input type="number" min="0" class="form-control" placeholder="hours that work (max 168)" name="timeToEnd"
                    required>
            </div>
        </div>

        <br> <br>
        <button type="submit" class="btn btn-primary" id="submitButton">Oluştur</button>
    </form>
</div>
@if (@Model.Votes != null)
{
<div class="d-flex justify-content-center">
    <table class="table w-75 p-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            @{
            int foreachCount = 0;
            }
            @foreach (var vote in @Model.Votes)
            {
            <tr>
                <th scope="row">@foreachCount</th>
                <td>@vote.VoteTitle</td>
                <td><a asp-controller="Home" asp-action="Vote" asp-route-slug=@vote.Slug>Go To Vote</a></td>
            </tr>
            foreachCount++;
            }
        </tbody>
    </table>
</div>
}